services:
  web1:
    build: .
    command: gunicorn -w 4 -b 0.0.0.0:5002 run:app
    volumes:
      - .:/code
    ports:
      - "5002:5002"
    env_file:
      - .env
    depends_on:
      - db
    # - migration
    restart: unless-stopped

  # migration:
  #   build: .
  #   command: ./scripts/wait-for-migrations.sh
  #   volumes:
  #     - .:/code
  #   env_file:
  #     - .env
  #   depends_on:
  #     - db
  #   restart: "no"

  db:
    image: postgres:16.4
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres_data:
