Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
Flask-Mail==0.10.0
python-dotenv==1.0.1
requests==2.32.3
psycopg2-binary==2.9.9
google-auth==2.33.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
Flask_Session==0.8.0
itsdangerous==2.2.0
twilio==9.2.3
# vonage==3.16.1