Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
python-dotenv==1.0.1
requests==2.32.3
psycopg2-binary==2.9.9
WTForms==3.1.2
email_validator==2.2.0
Werkzeug==3.0.3
Flask-Login==0.6.3
bcrypt==4.2.0
azure-cognitiveservices-vision-computervision==0.9.0
gunicorn==23.0.0
itsdangerous==2.1.2
alembic==1.15.2
Flask-Limiter==3.5.1
authlib==1.2.1
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1