.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.site-header {
    padding: 10px 0;
}

.navbar-brand img {
    max-height: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 30px);
    grid-auto-flow: column;
    gap: 15px;
    padding: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.product-checkbox {
    width: 100%;
    text-align: center;
}

#submit {
    margin-left: 30px;
}
