{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Recipe Web App!</h1>
        <p class="lead">Upload images of product items and get delicious recipes in return.</p>
        <hr class="my-4">
        <p>Sign up for an account or log in to get started.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('auth.signup') }}" role="button">Sign Up</a>
        <a class="btn btn-success btn-lg" href="{{ url_for('auth.login') }}" role="button">Log In</a>
    </div>
</div>
{% endblock %}
