<!-- templates/dashboard.html -->

{% extends "layout.html" %}

{% block title %}Dashboard | Recipe{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>Dashboard</h2>
    <div>
      <h3>Your Uploaded Image Sets</h3>
      {% if image_sets %}
        <ul>
          {% for image_set in image_sets %}
            <li>{{ image_set.folder_path }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No uploaded image sets yet.</p>
      {% endif %}
    </div>
    <div>
      <a href="{{ url_for('upload') }}" class="btn btn-primary">Upload New Images</a>
    </div>
  </div>

  <div class="row">
    {% for image_set in image_sets %}
    <div class="col-lg-6 col-md-12">
        <article class="media content-section {{ image_set.id }}" style="margin-top:20px;">
            <img src="{{ image_set.file_path }}" class="img-fluid" style="max-height:150px; margin-right:20px;" alt="Product image">
            <div class="media-body">
                <h2 class="article-title">{{ image_set.user.email }}</h2>
                <div>
                    <h6 class="mr-2" href="#">User: {{ image_set.user_id }}</h6>
                    <h6 class="mr-2" href="#">Date uploaded: {{ image_set.upload_date.strftime('%Y-%m-%d') }}</h6>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}
</div>
{% endblock %}
