{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Reset Password</h2>
    <form method="POST" action="{{ url_for('reset_password') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.reset_token.label }} {{ form.reset_token(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.new_password.label }} {{ form.new_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_new_password.label }} {{ form.confirm_new_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
